In [ ]:
'''
Set is a data structure which is unordered,unindexed typed.
Can hold unique values which means it doesn't stored values repetatively once it's already there in heap memory.
'''

In [1]:
'''
wiht the help of the set() function we can create the set object
'''
uniques = set()
print(type(uniques))
uniques2={10,20,30,40,50,50}
print(type(uniques2))
print(uniques2) #50 will print only once as it's twice added during the initilization

<class 'set'>
<class 'set'>
{40, 10, 50, 20, 30}

In [2]:
'''
To add the element in the set object 
1)add() function ----------> Adds single element at a time
2)update() function--------> Adds the another set into current set or any other iterables(list,dict,tuples) 
'''
#adding the element single element at a time
names = {'mohit','aakash','chandan','hayden','messi'}
names.add('ronaldo')
print(names)

#adding the iterable list and another set,dict to the name set using update
duplicate_names = {'Marka','Suu','Pessi','Penaldo','Mixture','blender'}
dictee = {"Messi":10}
jersey_no = [10,20,30,40,44]
tup = ('mon','tus','wens','thursday','friday','saturday','sunday')
names.update(duplicate_names,dictee,jersey_no,tup)
print(names)

{'hayden', 'ronaldo', 'aakash', 'chandan', 'mohit', 'messi'}
{'ronaldo', 'aakash', 10, 'Pessi', 'Marka', 'wens', 20, 30, 'hayden', 40, 44, 'Suu', 'friday', 'saturday', 'thursday', 'Mixture', 'Penaldo', 'chandan', 'mohit', 'sunday', 'tus', 'blender', 'Messi', 'mon', 'messi'}

In [5]:
'''
To find out the wheather element is present within the set or not simply using in (memebership operator can be done within a single command)
Returns the boolean value (True) if present in set object
Returns the boolean value (False) if not present in set object
'''
print('chandan' in names)
print('ChanDan'.lower() in names)
print('Chandan' in names)

True
True
False

In [6]:
'''
It's not possible to access the element in the set as there is no indexing like tuple/list/string to access specific element/character(in string)
We can access using the some combinations and mainly to see element by element using for loop.

'''
for num in names:
    print(num)

ronaldo
aakash
10
Pessi
Marka
wens
20
30
hayden
40
44
Suu
friday
saturday
thursday
Mixture
Penaldo
chandan
mohit
sunday
tus
blender
Messi
mon
messi

In [17]:
'''
With the help of the set we can perform actions between two sets like union(),intersection() and difference() two sets

'''
# union returns all the elements as single entity from both the set
set1={10,20,30,40}
set2={50,60,70,80}
print(set1 | set2) #1st way to perform the union  (|)
print(set1.union(set2)) #2nd way to using the union funtion directly

#intersection returns common element from botht the sets
set2.add(10)
print(set1&set2) # 1st way to perfrom the interesection (&)
print(set1.intersection(set2)) #2nd way to using the intersection function directly

#difference returns different values between two sets
print(set1.difference(set2)) #using the function directly we can find the difference 

#symmetric difference which contains the elements which are either in set A or in set B but not in both
print(set1.symmetric_difference(set2))
print(set1^set2)

{70, 40, 10, 80, 50, 20, 60, 30}
{70, 40, 10, 80, 50, 20, 60, 30}
{10}
{10}
{40, 20, 30}
{80, 50, 20, 70, 40, 60, 30}
{80, 50, 20, 70, 40, 60, 30}

In [18]:
'''
To checkout wheater the set1 is subset/superset of another set2 is possible using 2 functions that returns True/False(Boolean)
1)issubset
2)issuperset
Also to check the intersection wheather it's disjoint or not can be find out using the 
1)isdisjoint function

'''
set1={'m','o','h','i','t'}
set2={'o','i'}
set3={'d'}
print(set1.issuperset(set2)) # checking wheather the all values is a part of set1 will return true
print(set1.issubset(set2))  #this will return false as set1 not completely having it's values resides in set2
print(set2.issubset(set1)) #returns true
print(set1.isdisjoint(set3)) #return true as there is nothing common between them

True
False
True
True

In [22]:
'''
We can delete element using remove() method and pop

'''
set3.discard('d')
set2.remove('i')
del set3

KeyError: 'd'